.border-color{
    border-color: #DFDFDF !important;
}

input:focus {
    outline: none;
}

.allcat-color{
    color: #302F2F !important;
}

.title-color{
    color: #111111;
}

.orangecolor{
    color: #FF4F04;
}

.bgbutton-color{
    background-color: #111111 !important;
}

.bgbox-color{
    background-color: #F5F5F6;
}

.ps-18{
    padding-left: 18rem !important;
}

.w-70{
    width: 95%;
}

.text-xl {
    font-size: 1.5625rem !important;
}

.mt-27{
    margin-top: 27rem !important;
}

.titleh2{
    font-size: 30px !important;
}

.w-95{
    width: 95%;;
}

.spanbg-color{
    background-color: rgba(255,79,4, 0.09);
}
