.text-danger{
    color:blueviolet !important;
}

button.navbar-toggler:focus {
    outline: unset;
    box-shadow: none;
    border: none;
}

.navbar-collapse:before {
    content: "";
    display: block;
    border-top-width: 0px !important;
    border-top-style: solid;
    margin: 0px !important;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #FF4F04;
    border-bottom: 3px solid;
}

button.dropdown {
    background-color: #F8F8F8;
    padding: 10px 20px;
    border-radius: 5px;
}

.sectionone{
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/Mask.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bannersectext {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sectionone:after{
    content: "";
    position:absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    box-shadow: rgb(0, 0, 0, 0.50);
}

.productrecom:after {
    content: "";
    position: absolute;
    top: 0px;
    width: 100%;
    height:20rem;
    background: #F8F8F8;;
    z-index: -1;
}

.banner-text{
    font-size: 35px;;
}

.btn2{
    background-color: rgba(255,255,255,0.2);
}

.btn1{
    background-color: #FF4F04;
}

.productbox button{
    background-color: rgba(255,79,4, 0.09);
}

.productrecom .button button{
    border:1px solid #707070;
}

.snekersec{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/Rectangle-4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





@media only screen and (min-width: 992px) {
    .banner-lg-text{
        font-size: 55px;;
    }
}

@media only screen and (max-width: 992px){
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0px;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0px 0px 5px 0px #ccc;
        padding-left: 30px;
    }
}