.text-danger{
    color:blueviolet !important;
}

.zero{
    padding: 0px 5px;;
}

.dropdown-toggle::after{
    margin-left: 30px;;
}

button.dropdown {
    background-color: #F8F8F8;
    padding: 10px 20px;
    border-radius: 5px;
}

.sectionone{
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/Mask.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.sectionone:after{
    content: "";
    position:absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    box-shadow: rgb(0, 0, 0, 0.50);
}

.bannersectext h1{
    font-size: 55px;;
}

.btn2{
    background-color: rgba(255,255,255,0.2);
}

.btn1{
    background-color: #FF4F04;
}

.productbox button{
    background-color: rgba(255,79,4, 0.09);
}

.boxcolor{
    background-color: #F8F8F8;
}
.productrecom .button button{
    border:1px solid #707070;
}

